<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ratan Kadam </title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/landing-page.css" rel="stylesheet">
    <link href="./css/timeLine.css" rel="stylesheet">

    <!-- custom JS -->

    <script type="text/javascript" src="/Jquery/timeLineUtil.js"></script>

</head>

<script>
var json = [{duration: 1 hour, title: 'LOREM IPSUM DOLOR', info: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.'}];
</script>

<body>
<div class="block-content">
  <ul id="list-container" class="list list-timeline">
    <!-- according to Json the time line items will be generated here -->
  </ul>
</div>
    <script type="text/javascript" src="/Jquery/processTimeLine.js"></script>
</body>
</html>
