<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TimeLine</title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/timeLine.css" rel="stylesheet">

    <!-- custom JS -->

    <script type="text/javascript" src="/Jquery/timeLineUtil.js"></script>

</head>
<body>
<div class="block-content">
  <div class="timeLine-Header">
    <h1>Demo Vertical social Timeline</h1>
  </div>
  <ul id="list-container" class="list list-timeline">
    <!-- according to Json the time line items will be generated here -->
  </ul>
</div>
    <script type="text/javascript" src="/Jquery/processTimeLine.js"></script>
</body>
</html>
